@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  background-color: #d4e9ff;
}
h2 {
  position: fixed;
  top: 40%;
  width: 100%;
  font-size: 8em;
  z-index: -1;
  text-align: center;
  line-height: 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 10px 20px 10px rgba(0, 0, 0, 0.8);
}
section {
  position: fixed;
  width: 100%;
  height: 100%;
}
.scroll {
  width: 100%;
  height: 1500px;
}
.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.image img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.image .broken1 {
  clip-path: polygon(0% 0%, 21% 40%, 40% 30%, 45% 14%, 58% 0);
}
.image .broken2 {
  clip-path: polygon(100% 0, 100% 60%, 40% 30%, 45% 14%, 58% 0);
}
.image .broken3 {
  clip-path: polygon(100% 100%, 100% 60%, 40% 30%, 33% 65%, 50% 100%);
}
.image .broken4 {
  clip-path: polygon(0 100%, 0 69%, 40% 30%, 33% 65%, 50% 100%);
}
.image .broken5 {
  clip-path: polygon(40% 30%, 0% 51%, 0% 69%);
}
.image .broken6 {
  clip-path: polygon(0% 0%, 0% 51%, 21% 40%);
}
